@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
} 
body {
    margin: 0 0 0 0;
} 
b, strong {
    font-weight: bold;
} 
h1 {
    font-size: 2em;
    margin: 0.67em 0 0.67em 0;
} 
hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
} 
pre {
    overflow: auto;
} 
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
} 
table {
    border-collapse: collapse;
    border-spacing: 0;
} 
td, th {
    padding: 0 0 0 0;
} 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
} 
hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0 none -moz-initial;
    border-top: 1px solid #ecf0f1;
} 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
} 
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
} 
h1, .h1 {
    font-size: 39px;
} 
h2, .h2 {
    font-size: 32px;
} 
code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
} 
code {
    padding: 2px 4px 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
} 
pre {
    display: block;
    padding: 10px 10px 10px 10px;
    margin: 0 0 10.5px 0;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
} 
table {
    background-color: transparent;
} 
table > thead > tr > th, .table > thead > tr > th, table > tbody > tr > th, .table > tbody > tr > th, table > tfoot > tr > th, .table > tfoot > tr > th, table > thead > tr > td, .table > thead > tr > td, table > tbody > tr > td, .table > tbody > tr > td, table > tfoot > tr > td, .table > tfoot > tr > td {
    border: medium none -moz-initial;
} 