@{
    ViewBag.Title = "Index";
}
            
<div class="well">
    <ul>
        <li><a href="/home/nullreference">Null reference example</a></li>
        <li><a href="/home/nullableobject">Nullable Object example</a></li>
        <li><a href="/home/missingview">Missing View example</a></li>
        <li><a href="/home/remoteserver">Remote server example</a></li>
    </ul>
</div>